<header class="header">
    <div class="header__container container">
        <nav class="header__menu">
            <ul class="header__menu-items list-reset">
                <li class="headre__menu-item"><a class="headre__menu-item-link" href="#">О студии</a></li>
                <li class="headre__menu-item"><a class="headre__menu-item-link" href="#">Проекты</a></li>
                <li class="headre__menu-item"><a class="headre__menu-item-link" href="#">Команда</a></li>
                <li class="headre__menu-item"><a class="headre__menu-item-link" href="#">Услуги</a></li>
                <li class="headre__menu-item"><a class="headre__menu-item-link" href="#">Контакты</a></li>
            </ul>
        </nav>


        <a href="#" class="header__logo">
            <svg class="header__logo-svg">
              <use xlink:href="img/sprite.svg#logo"></use>
            </svg>
        </a>

        <addres class="header__contacts">
            <a href="tel:+7915315912" type="phone" class="header__contacts-number">+7 (915) 315-99-12</a>
            <a href="tg://msg_url?url=@user&text=пивет" type="telegram" class="header__contacts-tg">TG</a>
            <a href="#" type="vk" class="header__contacts-vk">VK</a>
            <a href="#" type="instagram" class="header__contacts-ig">IG</a>
        </addres>

    </div>
</header>